
$font-body: "Space Grotesk", serif;
$color-gray:#D9D9D9;
$color-light-black: #242424;
$color-hard-black: #151515;
$color-green: #4EE1A0;



$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;







