@use '../mixins' as *;
@use '../variables' as *;

.skills {
    position: relative;

    @include breakpoint(desktop) {
        &::before {
            content: "";
            position: absolute;
            bottom: -47px;
            right: 0;
            width: 290px;
            height: 129px;
            background-image: url('../../img/elipses_left-full.svg');
            background-repeat: no-repeat;
        }
    }

    &__container {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        position: relative;

        @include breakpoint(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0;
            row-gap: 52px;
            border-bottom: 0;
            padding-top: 52px;
            padding-bottom: 0;
            margin-bottom: 100px;
        }

        @include breakpoint(desktop) {
            width: 100%;
            max-width: 1110px;
            padding-top: 72px;
            margin-bottom: 140px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -65px;
            right: -4%;
            width: 188px;
            height: 129px;
            background-image: url('../../img/elipses_left.svg');

            @include breakpoint(desktop) {
                display: none;
            }
        }
    }

    &__article {
        flex: 1;
        text-align: center;

        @include breakpoint(tablet) {
            min-width: 48%;
            text-align: left;
        }

        @include breakpoint(desktop) {
            min-width: 32%;
        }

        h2 {
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -1px;

            @include breakpoint(tablet) {
                font-size: 48px;
                line-height: 56px;
                letter-spacing: -1.5px;
                margin-bottom: 14px;
            }
        }

        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;

            @include breakpoint(tablet) {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}